:root{
      --blue:#2C4E80;
      --gray: #ECDCF4;
      --dark: #000000;
       --shadow: 0 2px 6px rgba(0,0,0,0.5); /* rgb(0 0 0 / 0.5) */
      --shadow1: 2 8px 3px rgba(0,0,0,0.5); /* rgb(0 0 0 / 0.5) */

        /* font-family: "Roboto Slab", serif; */
        /* font-family: "Poppins", sans-serif; */
        /* font-family: "Rochester", cursive; */

}

/* Media Query (Responsive) */

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
/* GoHealthy */
.go-healthy {
      display: flex;
      min-height: auto;
      color: white;
}

.go-healthy #text-title {
      width: 100%;
      height: auto;
      padding: 1rem;
      margin-left: 0.1rem;
      text-align: center;
      align-items: center;
}

.go-healthy #text-title h2 {
      font-size: 1.5rem;
      margin-top: 1rem;
}

.go-healthy #text-title p {
      font-size: 0.8rem;
      margin-top: 0.1rem;
      margin-bottom: 0;
}

.go-healthy #text-title span {
      font-family: "Dancing Script", serif;
      font-size: 0.9rem;
      margin-top: -6rem;
}

.go-healthy #text-deskripsi {
    margin-top: -2rem;
}

.go-healthy #text-deskripsi h2 {
      font-size: 1.3rem;
      margin-bottom: 1rem;
}

.go-healthy #text-deskripsi p {
      font-size: 0.8rem;
      margin-bottom: 1.5rem;
      text-indent: 2rem;
      text-align: justify;
}

.go-healthy #text-job {
    width: 98%;
    height: auto;
}

.go-healthy #text-job h2 {
      margin-top: 2rem;
      font-size: 1.3rem;
      margin-bottom: 1rem;
}

.go-healthy #text-job li {
      font-size: 0.8rem;
      text-align: justify;
      width: 90%;
}

.go-healthy .workflow {
      width: 70%;
      height: 90%;
      margin-left: 2rem;
}

.go-healthy .garis {
    margin-top: 2rem !important;
    width: 100%;
    margin-left: 1rem !important;
}

/* Gambar agar memenuhi elemen */
.go-healthy img {
    width: 90%; /* Gambar memenuhi lebar container */
    height: auto; /* Jaga proporsi gambar */
    display: block; /* Hilangkan spasi tambahan di bawah gambar */
    /* border-radius: 1; Hapus radius jika diperlukan */
    box-shadow: none; /* Hapus shadow jika tidak diperlukan */
}

/* Style untuk link dengan hover efek */
.go-healthy .hover-overlay {
    position: relative;
    display: inline-block;
    text-decoration: none;
    width: 90%; /* Mengikuti ukuran gambar */
    /* margin-left: 5%; Sama seperti gambar */
    /* border-radius: 1%; Sama seperti gambar */
    overflow: hidden; /* Untuk memastikan elemen dalamnya tidak keluar */
}

.go-healthy .hover-overlay img {
    width: 90%;
    box-shadow: var(--shadow);
    /* border-radius: 1%; */
    /* transition: transform 0.3s ease-in-out; Efek zoom */
}

/* .go-healthy .hover-overlay:hover img {
    transform: scale(1.05); Zoom gambar saat hover
} */

/* Overlay hitam */
.go-healthy .hover-overlay::after {
    content: "";
    position: absolute;
    top: 0;
    left: 5%;
    width: 90%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5); /* Transparansi hitam */
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
    /* border-radius: inherit; Ikuti border-radius dari elemen induk */
    /* border-radius: 1%; */
}

.go-healthy .hover-overlay:hover::after {
    opacity: 1; /* Tampilkan overlay hitam saat hover */
}

/* Tombol klik */
.go-healthy .hover-overlay .btn-overlay {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: var(--blue);
    color: white;
    border: none;
    padding: 0.5rem 1rem;
    font-size: 0.6rem;
    font-weight: bold;
    cursor: pointer;
    opacity: 0; /* Sembunyikan tombol awalnya */
    transition: opacity 0.3s ease-in-out;
    /* border-radius: 5px; */
    z-index: 1; /* Pastikan tombol berada di atas overlay */
}

.go-healthy .hover-overlay:hover .btn-overlay {
    opacity: 1; /* Tampilkan tombol saat hover */
}

/* class gohealthy yang di dalam class next */
.next .text-next {
    margin-top: 1rem !important;
}

/* Gambar agar memenuhi elemen */
.next img {
    width: 80%; /* Gambar memenuhi lebar container */
    height: 100%; /* Jaga proporsi gambar */
     display: block; /*Hilangkan spasi tambahan di bawah gambar */
    /* border-radius: 1; Hapus radius jika diperlukan */
    box-shadow: none; /* Hapus shadow jika tidak diperlukan */
}

/* Style untuk link dengan hover efek */
.next .row .hover-overlay {
    position: relative;
    display: inline-block;
    text-decoration: none;
    width: 80%; /* Mengikuti ukuran gambar */
    /* margin-left: 5%; Sama seperti gambar */
    /* border-radius: 1%; Sama seperti gambar */
    overflow: hidden; /* Untuk memastikan elemen dalamnya tidak keluar */
}


.next .row .hover-overlay img {
    width: 80%;
    box-shadow: var(--shadow);
    /* border-radius: 1%; */
    /* transition: transform 0.3s ease-in-out; Efek zoom */
}

/* .go-healthy .hover-overlay:hover img {
    transform: scale(1.05); Zoom gambar saat hover
} */

/* Overlay hitam */
.next .row .hover-overlay::after {
    content: "";
    position: absolute;
    top: 0;
    left: 10%;
    width: 80%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5); /* Transparansi hitam */
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
    /* border-radius: inherit; Ikuti border-radius dari elemen induk */
    /* border-radius: 1%; */
}

.next .row .hover-overlay:hover::after {
    opacity: 1; /* Tampilkan overlay hitam saat hover */
}

/* Tombol klik */
.next .row .hover-overlay .btn-overlay {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: var(--blue);
    color: white;
    border: none;
    padding: 0.5rem 1rem;
    font-size: 0.6rem;
    font-weight: bold;
    cursor: pointer;
    opacity: 0; /* Sembunyikan tombol awalnya */
    transition: opacity 0.3s ease-in-out;
    /* border-radius: 5px; */
    z-index: 1; /* Pastikan tombol berada di atas overlay */
}

.next .row .hover-overlay:hover .btn-overlay {
    opacity: 1; /* Tampilkan tombol saat hover */
}

/* Footer */
footer {
      position: relative;
      width: 100%;
      height: auto;
      bottom: 0%;
      left: 0%;
      margin-top: -1rem;
      padding: 2rem;
      background-color: var(--blue);
      color: white;
      font-size: 0.9rem;
}

footer a {
      color: var(--bg);
      font-weight: bold;
      text-decoration: none;
}

footer a:hover {
      color: black;
}

footer li {
      list-style: none;
      display: inline;
      margin: 0.5rem;
}

}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) { 
.go-healthy #text-title {
      width: 100%;
      height: auto;
      padding: 2rem;
      margin-left: 0.1rem;
      text-align: center;
      align-items: center;
}

.go-healthy #text-title h2 {
      font-size: 2.4rem;
      margin-top: 3rem;
}

.go-healthy #text-job li {
      font-size: 0.9rem;
      text-align: justify;
      width: 90%;
}

.go-healthy .garis {
    margin-top: 2rem !important;
    width: 100%;
}

/* Tombol klik */
.go-healthy .hover-overlay .btn-overlay {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: var(--blue);
    color: white;
    border: none;
    padding: 0.5rem 1rem;
    font-size: 0.6rem;
    font-weight: bold;
    cursor: pointer;
    opacity: 0; /* Sembunyikan tombol awalnya */
    transition: opacity 0.3s ease-in-out;
    /* border-radius: 5px; */
    z-index: 1; /* Pastikan tombol berada di atas overlay */
}

/* class gohealthy yang di dalam class next */
.next .text-next {
    margin-top: 1rem !important;
}

/* Tombol klik */
.next .row .hover-overlay .btn-overlay {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: var(--blue);
    color: white;
    border: none;
    padding: 0.5rem 1rem;
    font-size: 0.6rem;
    font-weight: bold;
    cursor: pointer;
    opacity: 0; /* Sembunyikan tombol awalnya */
    transition: opacity 0.3s ease-in-out;
    /* border-radius: 5px; */
    z-index: 1; /* Pastikan tombol berada di atas overlay */
}
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  /* Tombol klik */
.go-healthy .hover-overlay .btn-overlay {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: var(--blue);
    color: white;
    border: none;
    padding: 0.5rem 1rem;
    font-size: 1rem;
    font-weight: bold;
    cursor: pointer;
    opacity: 0; /* Sembunyikan tombol awalnya */
    transition: opacity 0.3s ease-in-out;
    /* border-radius: 5px; */
    z-index: 1; /* Pastikan tombol berada di atas overlay */
}  

/* Tombol klik */
.next .row .hover-overlay .btn-overlay {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: var(--blue);
    color: white;
    border: none;
    padding: 0.5rem 1rem;
    font-size: 1rem;
    font-weight: bold;
    cursor: pointer;
    opacity: 0; /* Sembunyikan tombol awalnya */
    transition: opacity 0.3s ease-in-out;
    /* border-radius: 5px; */
    z-index: 1; /* Pastikan tombol berada di atas overlay */
}
}



/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
.go-healthy #text-deskripsi p {
      font-size: 0.9rem;
      margin-bottom: 1.5rem;
      text-indent: 2rem;
      text-align: justify;
}

.go-healthy #text-job li {
      font-size: 0.9rem;
      text-align: justify;
      width: 90%;
}

}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
.go-healthy #text-deskripsi p {
      font-size: 1rem;
      margin-bottom: 1.5rem;
      text-indent: 2rem;
      text-align: justify;
}

.go-healthy #text-job li {
      font-size: 1rem;
      text-align: justify;
      width: 90%;
}

}