:root{
      --blue:#2C4E80;
      --gray: #ECDCF4;
      --dark: #000000;
       --shadow: 0 2px 6px rgba(0,0,0,0.5); /* rgb(0 0 0 / 0.5) */
      --shadow1: 2 8px 3px rgba(0,0,0,0.5); /* rgb(0 0 0 / 0.5) */

        /* font-family: "Roboto Slab", serif; */
        /* font-family: "Poppins", sans-serif; */
        /* font-family: "Rochester", cursive; */

}

/* Reset and general styling */
body {
    font-family: "Roboto Slab", serif;
    background-color: var(--blue);
    position: relative; /* Hindari efek samping pada scrolling vertikal */
    margin: 0; /* Pastikan tidak ada margin di body */
}

/* Navbar */
.navbar{
 background-color: var(--blue) !important; /*!important -> agar bg ini juga digunakan selain bg yang lain*/
 /* backdrop-filter: blur(4px); */
}

.navbar .nav-link {
 /* text-transform: uppercase; */
 color: white;
 text-decoration: none;
 font-size: 16px;
}

.navbar .nav-link:hover {
     text-decoration: underline; /*Efek hover untuk link */
    color: black;
}

/* Home */
.home {
      margin-top: 8rem;
}

.home .container {
      background-color: var(--blue);
      color: white;
      border-radius: 15px;
      height: 28rem;
}

.home .left {
      margin-top: 2rem;
      padding: 4rem;
}

.home .left span{
      font-family: "Rochester", cursive;
      font-size: 2rem;
      text-shadow: var(--shadow);
}

.home .left h2{
      font-family: "Rochester", cursive;
      text-transform: capitalize;
      font-size: 6rem;
      text-shadow: var(--shadow);
}

.home .left p{
      text-transform: capitalize;
      font-size: 1rem;
      text-shadow: var(--shadow);
      text-align: center;
      margin-left: -10rem;
}

.home .right {
      margin-top: 2rem;
}

.home .right img {
      position: relative;
      width: 20rem;
      height: 20rem;
      margin-left: 2rem;
}

/* About */
.about {
      margin-top: 4rem;
}

.about .row h2 {
      color: white;
      text-shadow: var(--shadow1);
      font-weight: bold;
      font-size: 2rem;
      margin-top: -2rem;
      margin-bottom: 2rem;
}

.about .left img {
      padding: 2rem;
      width: 30rem;
      margin-left: 4rem;
}

.about .right h3 {
      color: white;
      text-align: center;
      font-size: 1.3rem;
      font-weight: 300;
      text-shadow: var(--shadow1);
      position: relative;
      align-items: center;
      margin-top: 10rem;
}

/* Enthusiast */
.enthusiast {
      margin-top: 4rem;
}

.enthusiast .card {
      background-color: var(--blue);
      color: white;
      padding: 1rem;
      height: 17rem;
      border: none;
}

.enthusiast .card-left {
      margin-left: -4rem;
}

.enthusiast .card-right {
      margin-left: 2rem;
      margin-right: -5rem;
}

.enthusiast p {
      font-size: 1rem;
      padding: 1rem;
      text-align: center;
      align-items: center;
}

.enthusiast h5 {
      font-weight: bold;
}

/* Membuat garis vertikal */
.enthusiast .col-lg-6:not(:last-child) {
    position: relative;
}

.enthusiast .col-lg-6:not(:last-child)::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    width: 2px; /* Ketebalan garis */
    height: 100%;
    background-color: white; /* Warna garis */
}

/* Skills */
.skill {
      margin-top: 4rem;
}

.skill h2 {
      color: white;
      text-shadow: var(--shadow1);
      font-weight: bold;
      font-size: 2rem;
      margin-bottom: 3rem;
}

.skill img {
      width: 10rem;
      height: 10rem;
}

/* Experience */
.experience {
      margin-top: 4rem;
}

.experience .row {
      background-color: var(--blue);
      padding: 2rem;
      height: 18rem;
}

.experience h2 {
      color: white;
      text-shadow: var(--shadow1);
      font-weight: bold;
      font-size: 2rem;
      margin-top: 2rem;
}

.experience .card {
      background-color: unset;
      border: none;
      color: white;
      padding: 2rem;
}

.experience .card-end {
      text-align: end !important;
}

.experience .card-text {
      text-align: justify;
      margin-left: -5rem;
}

/* Contact */
.contact {
      margin-top: 4rem;
}

.contact .card {
      background-color: unset;
      border: none;
      color: white;
      text-align: justify;
      align-items: center;
}

/* Footer */
footer {
      position: relative;
      width: 100%;
      bottom: 0%;
      left: 0%;
      margin-top: 4rem;
      padding: 2rem;
      background-color: var(--blue);
      color: white;
}

footer a {
      color: var(--bg);
      font-weight: bold;
      text-decoration: none;
}

footer a:hover {
      color: black;
}

footer li {
      list-style: none;
      display: inline;
      margin: 0.5rem;
}

/* Portofolio */
.portofolio .row {
      display: flex;
      width: 100%;
      justify-content: center;
      align-items: center;
      gap: 25px;
}

.portofolio h2 {
      color: white;
      text-shadow: var(--shadow1);
      font-weight: bold;
      font-size: 2rem;
      margin-top: 3rem;
      margin-bottom: 2.5rem;
}

.portofolio .card {
      position: relative;
      width: 20rem;
      height: 25rem;
      /* border-radius: 16px; */
      overflow: hidden;
      transition: 0.5s;
      cursor: pointer;
      background: none;
      border: none;
}

.portofolio img {
      width: auto;
      height: auto;
      object-fit: cover;
      pointer-events: none;
      transition: 0.5s;
}

/* Layer opacity */
.portofolio .card .layer {
      background: linear-gradient(to top, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 75%;
      opacity: 0;
      transition: 0.3s;

}

.portofolio .card .info {
      position: absolute;
      width: 100%;
      top: 70%;
      left: 50%;
      transform: translate(-50%, -50%);
      padding: 15px;
      opacity: 0;
      transition: 0.5s bottom, 1.75s opacity;
}

.portofolio .info p {
      font-size: 14px;
      color: rgb(211, 204, 204);
}

.portofolio .info h3 {
      /* font-size: 2rem; */
      justify-content: center;
      align-items: center;
      /* margin-left: 4rem; */
      color: white;
}

.portofolio .card:hover,
.portofolio .card:hover img,
.portofolio .card:hover layer {
      transform: scale(1.1); /*Untuk ukuran zoom out pas kursor diarahkan ke card*/
}

.portofolio .card:hover > .layer {
      opacity: 1;
}

.portofolio .card:hover > .info {
      bottom: 0;
      opacity: 1;
}

/* untuk efek blur ketika pointer berada di salah satu card */
/* .portofolio .row:hover > .card:not(:hover) {
      filter: blur(5px);
} */


/* GoHealthy */
.go-healthy {
      display: flex;
      min-height: auto;
      /* margin-top: 4rem; */
      color: white;
}

.go-healthy #text-title {
      width: 100%;
      height: auto;
      padding: 5rem;
}

.go-healthy #text-title h2 {
      font-size: 5rem;
      margin-bottom: 0.1rem;
}

.go-healthy #text-title p {
      font-size: 1.5rem;
      margin-top: 1rem;
}

.go-healthy #text-title span {
      font-family: "Dancing Script", serif;
      font-size: 1.5rem;
      margin-top: -0.5rem;
}

.go-healthy #text-deskripsi h2 {
      font-size: 2rem;
      margin-bottom: 1rem;
}

.go-healthy #text-deskripsi p {
      font-size: 1.2rem;
      margin-bottom: 1.5rem;
      text-indent: 2rem;
      text-align: justify;
}

.go-healthy #text-job h2 {
      margin-top: 2rem;
      font-size: 2rem;
      margin-bottom: 1rem;
}
.go-healthy #text-job li {
      font-size: 1.1rem;
      text-align: justify;
}

.go-healthy ol {
      margin-left: 2rem;
}

.go-healthy .workflow {
      width: 70%;
      height: 90%;
}

/* Gambar agar memenuhi elemen */
.go-healthy img {
    width: 90%; /* Gambar memenuhi lebar container */
    height: auto; /* Jaga proporsi gambar */
    display: block; /* Hilangkan spasi tambahan di bawah gambar */
    /* border-radius: 1; Hapus radius jika diperlukan */
    box-shadow: none; /* Hapus shadow jika tidak diperlukan */
}

/* Style untuk link dengan hover efek */
.go-healthy .hover-overlay {
    position: relative;
    display: inline-block;
    text-decoration: none;
    width: 90%; /* Mengikuti ukuran gambar */
    /* margin-left: 5%; Sama seperti gambar */
    /* border-radius: 1%; Sama seperti gambar */
    overflow: hidden; /* Untuk memastikan elemen dalamnya tidak keluar */
}

.go-healthy .hover-overlay img {
    width: 90%;
    box-shadow: var(--shadow);
    /* border-radius: 1%; */
    /* transition: transform 0.3s ease-in-out; Efek zoom */
}

/* .go-healthy .hover-overlay:hover img {
    transform: scale(1.05); Zoom gambar saat hover
} */

/* Overlay hitam */
.go-healthy .hover-overlay::after {
    content: "";
    position: absolute;
    top: 0;
    left: 5%;
    width: 90%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5); /* Transparansi hitam */
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
    /* border-radius: inherit; Ikuti border-radius dari elemen induk */
    /* border-radius: 1%; */
}

.go-healthy .hover-overlay:hover::after {
    opacity: 1; /* Tampilkan overlay hitam saat hover */
}

/* Tombol klik */
.go-healthy .hover-overlay .btn-overlay {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #ffffff;
    color: #000;
    border: none;
    padding: 0.5rem 1rem;
    font-size: 1rem;
    font-weight: bold;
    cursor: pointer;
    opacity: 0; /* Sembunyikan tombol awalnya */
    transition: opacity 0.3s ease-in-out;
    /* border-radius: 5px; */
    z-index: 1; /* Pastikan tombol berada di atas overlay */
}

.go-healthy .hover-overlay:hover .btn-overlay {
    opacity: 1; /* Tampilkan tombol saat hover */
}

/* class gohealthy yang di dalam class next */
/* Gambar agar memenuhi elemen */
.next img {
    width: 70%; /* Gambar memenuhi lebar container */
    height: 100%; /* Jaga proporsi gambar */
     display: block; /*Hilangkan spasi tambahan di bawah gambar */
    /* border-radius: 1; Hapus radius jika diperlukan */
    box-shadow: none; /* Hapus shadow jika tidak diperlukan */
}

/* Style untuk link dengan hover efek */
.next .row .hover-overlay {
    position: relative;
    display: inline-block;
    text-decoration: none;
    width: 70%; /* Mengikuti ukuran gambar */
    /* margin-left: 5%; Sama seperti gambar */
    /* border-radius: 1%; Sama seperti gambar */
    overflow: hidden; /* Untuk memastikan elemen dalamnya tidak keluar */
}


.next .row .hover-overlay img {
    width: 70%;
    box-shadow: var(--shadow);
    /* border-radius: 1%; */
    /* transition: transform 0.3s ease-in-out; Efek zoom */
}

/* .go-healthy .hover-overlay:hover img {
    transform: scale(1.05); Zoom gambar saat hover
} */

/* Overlay hitam */
.next .row .hover-overlay::after {
    content: "";
    position: absolute;
    top: 0;
    left: 15%;
    width: 70%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5); /* Transparansi hitam */
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
    /* border-radius: inherit; Ikuti border-radius dari elemen induk */
    /* border-radius: 1%; */
}

.next .row .hover-overlay:hover::after {
    opacity: 1; /* Tampilkan overlay hitam saat hover */
}

/* Tombol klik */
.next .row .hover-overlay .btn-overlay {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #ffffff;
    color: #000;
    border: none;
    padding: 0.5rem 1rem;
    font-size: 1rem;
    font-weight: bold;
    cursor: pointer;
    opacity: 0; /* Sembunyikan tombol awalnya */
    transition: opacity 0.3s ease-in-out;
    /* border-radius: 5px; */
    z-index: 1; /* Pastikan tombol berada di atas overlay */
}

.next .row .hover-overlay:hover .btn-overlay {
    opacity: 1; /* Tampilkan tombol saat hover */
}
